.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    font-size: 24px;
    color: #777;
    margin: 0;
    font-weight: 400;
}

.form-content {
    padding: 15px;
}

.form-control:focus {
    border-color: #e97342;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 115, 66, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 115, 66, 0.6);
}

.form-control {
    height: 26px;
    padding: 6px 12px !important;
    font-size: 12px !important;
}

.form-label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.section-header {
    background: rgba(0, 0, 0, 0) linear-gradient(#0163a2, #053972) repeat scroll 0 0 !important;
    color: white;
    border: #337ab7;
    font-weight: bold;
    font-size: 16px;
}

.company-info-box {
    background-color: #fff;
    border: 1px solid #337ab7;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}


table th, table td {
    padding: 1px 3px;
    font-size: 12px;
    line-height: 2;
}
