.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    font-size: 24px;
    color: #777;
    margin: 0;
    font-weight: 400;
}

.section-header {
    background: rgba(0, 0, 0, 0) linear-gradient(#0163a2, #053972) repeat scroll 0 0 !important;
    color: white;
    border: #337ab7;
    font-weight: bold;
    font-size: 16px;
}

.company-info-box {
    background-color: #fff;
    border: 1px solid #337ab7;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.form-content {
    padding: 15px;
}

.form-control:focus {
    border-color: #e97342;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 115, 66, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 115, 66, 0.6);
}

.form-control {
    height: 26px;
    padding: 6px 12px !important;
    font-size: 12px !important;
}

.form-label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.search-input {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.9rem;
    width: 100%;
    color: #6c757d;
}

table th,
table td {
    padding: 1px 3px;
    font-size: 12px;
    line-height: 2;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.pagination-btn {
    margin: 0 5px;
    width: 80px;
}

.pagination-input {
    width: 60px;
    text-align: center;
    margin: 0 5px;
}

.global-search {
    width: 200px;
    margin-right: 20px;
}

/* Container with border and padding */
.slider-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  width: fit-content;
}

/* Styled label like a badge */
.custom-label {
  background-color: #00bfff;
  color: white;
  padding: 6px 14px;
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 12px;
}

/* ngx-slider customization */
.ngx-slider .ngx-slider-bar {
  background: #e6f7ff;
  height: 6px;
}

.ngx-slider .ngx-slider-selection {
  background: #add8e6;
}

.ngx-slider .ngx-slider-pointer {
  width: 20px;
  height: 20px;
  background-color: #00bfff;
  border: none;
  top: -7px;
}

.ngx-slider .ngx-slider-pointer:after {
  display: none;
}

.ngx-slider .ngx-slider-tick {
  background-color: #d3eaff;
  height: 8px;
  width: 2px;
}

.ngx-slider .ngx-slider-tick-value {
  font-size: 12px;
  color: #333;
}

/* Optional: hide tooltips/labels if you don’t want them */
.ngx-slider .ngx-slider-model-value,
.ngx-slider .ngx-slider-label {
  display: none;
}
