<div class="d-flex justify-content-center align-items-center vh-100"
  style="background: url('/assets/images/bg.png') repeat;">
  <div class="card shadow forgot-pass-form" style="min-width: 350px;">
    <div class="card-body p-0">
      <h5 class="card-title text-center py-4 fw-bold">Forgot Password</h5>

      <div class="p-4 pt-0">

        <div>
          <input type="text" class="form-control content-input" placeholder="user name" name="username">
        </div>

        <div>
          <strong>OR</strong>
        </div>

        <div class="mb-4">
          <input type="text" class="form-control content-input" placeholder="email address" name="emailAddress">
        </div>
      </div>

      <div class="d-grid footer">

        <button type="submit" class="btn btn-info text-white fw-bold lgoin-btn">Reset Password</button>

        <div class="d-flex justify-content-between">
          <a href="javascript:void(0)"></a>
          <a routerLink="/login" class="small login py-2">Login</a>
        </div>

      </div>

    </div>
  </div>
</div>