<div class="row">


    <div class="col-md-4 mx-auto">
        <div class="header">
            <h1>State Master</h1>
        </div>


        <div class="form-content py-0">

            <div class="row my-3 ">
                <div class="col-md-9">
                    <label class="form-label">State</label>
                    <input type="text" class="form-control" placeholder="State Name" [(ngModel)]="stateModel.name">
                </div>

                <div class="col-md-3">
                    <label> </label>
                    <div class="d-flex justify-content-end">

                        <div class="mt-1">
                            <button class="btn btn-success py-0 px-2 mx-1" (click)="saveState();">Save</button>
                            <button class="btn btn btn-warning py-0 px-2" (click)="clearInput();">Clear</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="company-info-box mx-2">
                <div class="section-header fw-normal p-1">
                    States
                </div>

                <div class="form-content py-0">
                    <div class="card-body p-0">

                        <p-table [value]="stateList">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="w-100">Name</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <div class="d-flex justify-content-start pt-1">
                                            <div class="p-0 pe-3">
                                                <span class="cursor-pointer" (click)="editState(item);"><i
                                                        class="far fa-edit"></i></span>
                                            </div>
                                            <div class="p-0 pe-3">
                                                <span class="cursor-pointer" (click)="deleteState(item.id);"><i
                                                        class="fas fa-trash"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>