<div class="row">
  <div class="col-md-2 mt-4">
    <app-left-consultant-search-nav
      [fildteredConsultantsIds]="fildteredConsultantsIds"></app-left-consultant-search-nav>
  </div>
  <div class="col-md-10 ps-0">

    <div class="header">
      <h1>Consultant Search</h1>
    </div>

    <div class="card p-2">

      <p-table #dt [value]="consultantsList" [paginator]="true" [rows]="10" (onFilter)="onTableFilter($event)"
        [globalFilterFields]="['lastName', 'firstName', 'resumeSearchText']" [rowHover]="true" [scrollable]="true"
        scrollHeight="550px" [scrollable]="true" [style]="{ width: '100%' }" columnResizeMode="expand"
        [resizableColumns]="true" styleClass="table table-bordered table-hover">
        <ng-template pTemplate="colgroup">
          <colgroup>
            <col style="width: 130px" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">

          <tr>
            <th>
              <!-- <input type="text" pInputText size="50" placeholder="Search..." 
              [(ngModel)]="inputSearch"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
               style="width: 100%" /> -->

               <input
                  #filterInput
                  type="text"
                  pInputText
                  size="50"
                  placeholder="Global Search..."
                  (input)="
                    dt.filterGlobal($any($event.target).value, 'contains')
                  "
                  [(ngModel)]="inputSearch"
                  style="width: 100%"
                />
            </th>
          </tr>
          <tr>
            <th pResizableColumn>Consultant Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td> <a href="javascript:void(0)" class="clientNameLink" (click)="consultantDashboard(rowData.id);">
                {{ rowData.lastName }}, {{rowData.firstName}}</a></td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>
</div>