<div class="d-flex d-flex justify-content-end pe-1">
    <button type="button" class="me-1 btn btn-warning" routerLink="/consultant-directory">Return To Search</button>
    <button type="button" class="me-1 btn btn-primary" (click)="addTechnicalInterview()">Technical Interview</button>
    <button type="button" class="me-1 btn btn-primary" (click)="addConsultantReference();">References</button>
    <button type="button" class="me-1 btn btn-primary">Appointment</button>
    <button type="button" class="me-1 btn btn-primary">Email</button>
    <button type="button" class="me-1 btn btn-primary">Calls</button>
    <button type="button" class="me-1 btn btn-primary" (click)="editConsultant();">Edit</button>
</div>